<div class="service-route">
    <ServiceHeader 
        @model={{this.model.service}}
        @onSelectAudit={{action this.onSelectAudit}}
        @fetchServiceTask={{this.fetchServiceTask}}
        @serviceId={{this.model.service.id}}
        @auditSelectorClick={{this.auditSelectorClick}}
        @serviceEditClick={{this.serviceEditClick}}
    ></ServiceHeader>

    <div class="service-content">
        <div class="policy-container">
            <PolicyHeader @policy={{this.model.service.policy}} @coversOtherRules={{false}}
                @policyLineMeta={{this.model.policyLines.meta}}></PolicyHeader>
            <PolicyHeatmap @policy={{this.model.service.policy}} @policyLines={{this.model.policyLines}}>
            </PolicyHeatmap>
        </div>
        <div class="policy-container">
            <PolicyHeader @coversOtherRules={{true}} @policyLineMeta={{this.model.policyLines.meta}}></PolicyHeader>
             <PolicyHeatmap @policyLines={{this.model.policyLines}}>
            </PolicyHeatmap>
        </div>
    </div>
</div>

<AuditSelector
    @isOpen={{this.isAuditSelectorOpen}}
    @audits={{this.model.service.audits}}
    @onHide={{this.auditSelectorHidden}}
    @onSelectAudit={{this.onSelectAudit}}
    @fetchServiceTask={{this.fetchServiceTask}}
    @serviceId={{this.model.service.id}}
    >
</AuditSelector>

<ServiceModal
    @isOpen={{this.isServiceEditorOpen}}
    @service={{this.model.service}}
    @onHide={{this.serviceEditorHidden}}
    @fetchServiceTask={{this.fetchServiceTask}}
    @isCreating={{false}}
    @onSubmit={{this.onServiceUpdateSubmit}}
    >
</ServiceModal>