All services:

<ul>
    {{#each this.model as |service|}}
    <li>
        <a href={{(concat "service/" service.id)}}>{{service.name}}</a>
    </li>
    {{/each}}
</ul>

<BsButton @onClick={{action this.auditCreatorClick}}>Create Service</BsButton>

<ServiceModal
    @isOpen={{this.isServiceCreatorOpen}}
    @service={{this.serviceModelForCreation}}
    @onHide={{this.auditCreatorHidden}}
    @fetchServiceTask={{this.fetchServicesTask}}
    @isCreating={{true}}
    @onSubmit={{this.onServiceCreateSubmit}}
    >
</ServiceModal>