<div class="service-header">
    <BsButton @type="tertiary" @size="sm" @onClick={{action backButtonClick}}>
        <FaIcon @icon="chevron-left" @size="2x" />
    </BsButton>

    <div class="service-header-summary">
        <h4>{{this.serviceName}}</h4>
        {{this.eventsLastCaptured}}
    </div>

    <div class="service-header-buttons-right">
        <BsButton @type="tertiary" @onClick={{action this.auditSelectorClick}}>
            <FaIcon @icon="archive" @size="3x" />
        </BsButton>

        <BsButton @type="tertiary" @onClick={{action this.serviceEditClick}}>
            <FaIcon @icon="pen-square" @size="3x" />
        </BsButton>
    </div>
</div>